### all possible list slicing

In [ ]:
nums = list(range(0,5))    # range is a built-in function that creates a list of integers
print(nums)         # Prints "[0, 1, 2, 3, 4]"
print(nums[2:4])    # Get a slice from index 2 to 4 (exclusive); prints "[2, 3]"
print(nums[2:])     # Get a slice from index 2 to the end; prints "[2, 3, 4]"
print(nums[:2])     # Get a slice from the start to index 2 (exclusive); prints "[0, 1]"
print(nums[:])      # Get a slice of the whole list; prints ["0, 1, 2, 3, 4]"
print(nums[:-1])    # Slice indices can be negative; prints ["0, 1, 2, 3]"
nums[2:4] = [8, 9] # Assign a new sublist to a slice
print(nums)

[0, 1, 2, 3, 4]
[2, 3]
[2, 3, 4]
[0, 1]
[0, 1, 2, 3, 4]
[0, 1, 2, 3]
[0, 1, 8, 9, 4]

### how to append in list (how to add elements in list )

In [ ]:
nums = [0, 1, 2, 3, 5]
nums
nums.append(7)
nums[5]                             #[0,1,2,3,5,7

7

In [ ]:
nums = [0, 1, 2, 3, 5]
square = []
for x in nums:
    square.append(x ** 2)    #[0,1,4,9,25]
print(square)
print(len(square))

[0.0, 0.5, 1.0, 1.5, 2.5]
5

In [ ]:
x=5
y=x**3 #** is used for exponential
y

125

In [ ]:
for x in nums:
    square.append(x ** 2)
print(square)

### running for loop inside list (list comprehension)

In [ ]:
nums = [0, 1, 2, 3, 4]
y = [x**2 if x%2==0 else 89 for x in nums]  #->if else for
print(y)

[0, 89, 4, 89, 16]

In [ ]:
list1 = [i if i % 2 == 0 else 9 for i in nums]
print(list1)

[0, 9, 2, 9, 4]

### String formatting

In [ ]:
name="batman"
class_no=77
print('name is {} and class no is {}'.format(name,class_no))  #name is laxman and class no is 7  ->format
print(f'name is {name} and class no is {class_no}')          #->f-line method

name is batman and class no is 77
name is batman and class no is 77

In [ ]:
print('{}: {}'.format(name, class_no))
print(f'{name}: {class_no}')

### string concatination (how to join strings)

In [ ]:
h='hello'
name='ram'
statement=h+" "+name
print(statement)
print(" ".join([h,name]))
print("%s %s %s"%(h,name,6))   #%s denotes string data type
print("%s %s %s"%(h, name,"chandra"))
print(h,name)

hello ram
hello ram
hello ram 6
hello ram chandra
hello ram

### boolean operations

In [ ]:
t,f= True,False
a=int(f)
print(a)

0

In [ ]:
print(t and f) # Logical AND *; 1*1=1 and 1*0=0
print(t or f)  # Logical OR +; 1+1=1  and 1+0=1
print(not t)   # Logical NOT !; not True= False
print(t != f)  # Logical XOR ;

False
True
False
True

### dictionary
1.   mutable
2.   no indexing
3.   keys cannot be mutable( basically keys cannot be list,sets or dictionary)-> we will learn this concept after learning tuple
4.   keys cannot be repeated

In [ ]:
book={1:'ram runs',2:'jumped on bridge'}
a=book.keys()
print(a)
print(book.keys())

dict_keys([1, 2])
dict_keys([1, 2])

In [7]:
d = {'cat': 'cute', 'dog': 'furry'}  # Create a new dictionary with some data
print(d['dog'])       # Get an entry from a dictionary; prints "cute"

furry

In [5]:
print('cute' in d)     # Check if a dictionary has a given key; prints "True"

False

how to add elements in dictionary

In [12]:

d['fish'] = 'wet'   # Set an entry in a dictionary
print(d)

{'cat': 'cute', 'dog': 'furry', 'fish': 'wet'}

In [13]:
print(d.items())

dict_items([('cat', 'cute'), ('dog', 'furry'), ('fish', 'wet')])

In [ ]:
print(d['monkey'])  # KeyError: 'monkey' not a key of d

KeyError: 'monkey'

In [18]:
d.get('monkey','not present')

'not present'

In [19]:
print(d.get('monkey', 'N/A'))  # Get an element with a default; prints "N/A"
print(d.get('fish', 'N/A'))    # Get an element with a default; prints "wet"

N/A
wet

how to ***delete*** an element in dictionary

In [20]:
del d['fish']        # Remove an element from a dictionary
print(d.get('fish', 'N/A')) # "fish" is no longer a key; prints "N/A"

N/A

In [22]:
d = {'cat': 'cute', 'dog': 'furry'}
del d
print(d)

NameError: name 'd' is not defined

In [23]:
d = {'cat': 'cute', 'dog': 'furry'}
d.clear()
print(d)

{}

It is easy to iterate over the keys in a dictionary:

In [29]:
d = {'person': 2, 'cat': 4, 'spider': 'uu'}
for k,v in d.items():
  print(k,v)

person 2
cat 4
spider uu

In [40]:
f=list(d.values())
print(f)
e=list(d.items())
print(e)
print(type(e))
q=list(d.keys())
print(q)

[2, 4, 'uu']
[('person', 2), ('cat', 4), ('spider', 'uu')]
<class 'list'>
['person', 'cat', 'spider']

dictionary comprehension

In [43]:
nums = [0, 1, 2, 3, 4]
even_num_to_square = { i: i**2 if i%2==0 else i**3 for i in nums}
print(even_num_to_square)

{0: 0, 1: 1, 2: 4, 3: 27, 4: 16}

duplicate ***keys*** are not allowed

In [45]:
d = {'cat': 'cute','dog': 'furry','dog':'yy'}
d['dog']

'yy'

2d dictrionary -> json

In [ ]:
s={'name':'ram','roll_no':2345,'subjects':{'chemistry':35,'dsa':45}}
print(s)

{'name': 'ram', 'roll_no': 2345, 'subjects': {'chemistry': 35, 'dsa': 45}}

create dictionary with dict

In [48]:
l=dict([('hero','batman'),('villain','joker')])
print(l)

{'hero': 'batman', 'villain': 'joker'}

In [53]:
dd=dict([('name','ram'),('roll_no',2345),('subjects',{'chemistry':35,'dsa':45})])
dd2=dict([('name','ram'),('roll_no',2345),('subjects',dict([('chemistry',35),('dsa',45)]))])
print(dd2)

{'name': 'ram', 'roll_no': 2345, 'subjects': {'chemistry': 35, 'dsa': 45}}

In [56]:
dd['subjects']['dsa']

45

In [ ]:
q=s['subjects']
q['dsa']

45


*   pop
*   popitem
*   del
*   clear

In [ ]:
d = {'cat': 'cute','dog': 'furry','frog':"wabit"}
d.pop('cat')
d

{'dog': 'furry', 'frog': 'wabit'}

In [ ]:
d = {'cat': 'cute','dog': 'furry','frog':"wabit"}
d.popitem()
d

{'cat': 'cute', 'dog': 'furry'}

In [ ]:
d = {'cat': 'cute','dog': 'furry','frog':"wabit"}
del d['cat']
d

{'dog': 'furry', 'frog': 'wabit'}

In [ ]:
d = {'cat': 'cute','dog': 'furry','frog':"wabit"}
del d
d

NameError: name 'd' is not defined

In [ ]:
d = {'cat': 'cute','dog': 'furry','frog':"wabit"}
d.clear()
d

{}

iteration

In [ ]:
d = {'cat': 'cute','dog': 'furry','frog':"wabit"}
for i in d:
  print(i)

cat
dog
frog

In [ ]:
d = {'cat': 'cute','dog': 'furry','frog':"wabit"}
for i in d.keys():
  print(i)

cat
dog
frog

In [ ]:
d = {'cat': 'cute','dog': 'furry','frog':"wabit"}
for i in d.values():
  print(i)

cute
furry
wabit

In [ ]:
d = {'cat': 'cute','dog': 'furry','frog':"wabit"}
for i in d.items():
  print(type(i))
  print(i)

<class 'tuple'>
('cat', 'cute')
<class 'tuple'>
('dog', 'furry')
<class 'tuple'>
('frog', 'wabit')

In [ ]:
d = {'cat': 'cute','dog': 'furry','frog':"wabit"}
for k,v in d.items():
  print(k,v)

cat cute
dog furry
frog wabit

In [ ]:
s={'name':'ram',
   'roll_no':2345,
   'subjects':
   {
       'chemistry':35,
       'dsa':45
   }
    }
for i in s:
  print(i)

name
roll_no
subjects

In [ ]:
for i in s['subjects'].keys():
  print(i)

chemistry
dsa

In [ ]:
for i in s['subjects'].values():
  print(i)

35
45

In [ ]:
for i in s['subjects'].items():
  print(i)

('chemistry', 35)
('dsa', 45)

***update function*** in dictionary (merging 2 dictionaries)

In [ ]:
d={1:2,3:4}
d2={4:6,7:8}
d2.update(d)
print(d2)

{4: 6, 7: 8, 1: 2, 3: 4}

zip function to create dictionary

In [ ]:
a=[1,2]
b=["a","b"]
q={i:j for (i,j) in zip(a,b) }
z=zip(a,b)
for i,j in z:
  print(i,j)

1 a
2 b

### tuple
A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

Characterstics

Ordered
Unchangeble
Allows duplicate