mutable and immutable data types

In [11]:
a="rt"
id(a)

137459484710000

In [12]:
a=67
print(type(a))

<class 'int'>

In [19]:
l=['r','a','m']
l[0]='u'
print(l)
y=(10,20,30)

q="ram"

['u', 'a', 'm']

NameError: name 'u' is not defined

In [ ]:
l=[1,2,3]
print(id(l))
l[0]=4
print(id(l))

### tuple
A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

Characterstics

Ordered
Unchangeble
Allows duplicate

### creating tuple

In [32]:
t = () #empty tuple
print(t)
# create a tuple with a single item
t2 = (1,)
print(t2)
print(type(t2))
# homogenous tuple= same data type inside tuple
t3 = (1,2,3,4)
t4 = ('a','b','c','d')
print(t3)
print(t4)
# hetrogenous tuple non homogenous tuple
t5 = (1,2.5,True,[1,2,3],"bang")
print(t5)
# tuple inside a tuple
t6 = (1,2,(3,4))
print(t6)
# using type conversion
t6 = tuple([1,2,3])
print(t6)
t7 = tuple('ram')
print(t7)

()
(1,)
<class 'tuple'>
(1, 2, 3, 4)
('a', 'b', 'c', 'd')
(1, 2.5, True, [1, 2, 3], 'bang')
(1, 2, (3, 4))
(1, 2, 3)
('r', 'a', 'm')

access items
*   indexing
*   slicing

In [33]:
t3 = (1,2,3,4)
print(t3)
print(t3[0])
print(t3[-1])

(1, 2, 3, 4)
1
4

In [41]:
t5 = (1,2.5,True,[1,2,3],"bang")

t5[-2][0]

1

In [42]:
t3[1:4]

(2, 3, 4)

editing items

In [43]:
print(t3)
t3[0] = 100
# its immutable

(1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

deleting tuple

In [ ]:
print(t3)
del t3
print(t3)

In [ ]:
print(t5)
del t5[-1]

(1, 2.5, True, [1, 2, 3], 'bang')

TypeError: 'tuple' object doesn't support item deletion

operation on tuple

In [ ]:
# + and *
t1 = (1,2,3,4)
t2 = (4,6,7,8)

print(t1 + t2)
t3=t1+t2

print(t1*3)
# membership
1 in t1
# iteration
for i in t1:
  print(i)

(1, 2, 3, 4, 4, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
1
2
3
4

In [ ]:
t = (1,2,3,4)
len(t)

sum(t)

min(t)

max(t)

sorted(t,reverse=True)

In [ ]:
# count

t = (1,2,3,4,5)

t.count(50)

In [ ]:
# tuple unpacking
a,b,c = (1,2,3)
print(a,b,c)

unpacking all kinds of data type

In [2]:
a,b,*others = (1,2,3,4)
print(a,b)
print(others)

In [4]:
a,b,*others = [1,2,3,4]
print(a,b)
print(others)

1 2
[3, 4]

In [5]:
a,b,*others = {1:"a",2:"b",3:"c",4:"d"}
print(a,b)
print(others)

1 2
[3, 4]

In [ ]:
# zipping tuples
a = (1,2,3,4)
b = (5,6,7,8)

tuple(zip(a,b))

### Sets
A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed).

However, a set itself is mutable. We can add or remove items from it.
Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

Characterstics:
*   Unordered
*   Mutable
*   No Duplicates
*   Can't contain mutable data types

In [ ]:
# empty
s = set()
print(s)
print(type(s))
# 1D and 2D
s1 = {1,2,3}
print(s1)
#s2 = {1,2,3,{4,5}}
#print(s2)
# homo and hetro
s3 = {1,'hello',4.5,(1,2,3)}
print(s3)
# using type conversion

s4 = set([1,2,3])
print(s4)
# duplicates not allowed
s5 = {1,1,2,2,3,3}
print(s5)
# set can't have mutable items
s6 = {1,2,[3,4]}
print(s6)

In [7]:
a=[1,2]
b=["a","b"]
for i in zip(a,b):
  print(i[0],i[1])

1 a
2 b

In [10]:
a=[1,2,3]
b=["a","b"]
q={i:j+"even"  for (i,j) in zip(a,b) if i%2==0}
print(q)

{2: 'beven'}