### Sets

A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed).

However, a set itself is mutable. We can add or remove items from it.

Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.
note: a set cannot contain a mutable(list,dict) data type inside it.

Characterstics:
- Unordered
- Mutable
- No Duplicates
- Can't contain mutable data types

In [9]:
#general syntax
#s={elements} #dict and set share the same brackets
s={1,2,3} # which other data type has curly brackets
print(type(s))
dict={}

<class 'set'>

In [12]:
s=set() #error because it will become a empty dict
print(s)
print(type(s))

set()
<class 'set'>

In [13]:
s={1,2,3,[1,2]}
print(s)

TypeError: unhashable type: 'list'

In [16]:
# empty
s1 = {1,2,3}
print(s1)
# homo and hetro
s={1,2,3,4}
s3 = {1,'hello',4.5,(1,2,3)}
print(s3)
# using type conversion
s4 = set([1,2,3])
print(s4)

{1, 2, 3}
{'hello', 1, (1, 2, 3), 4.5}
{1, 2, 3}
{1, 2, 3}
{'hello', 1, (1, 2, 3), 4.5}

In [18]:
# duplicates not allowed
s5 = {1,1,2,2,3,3}
print(s5)  #{1,2,3}
print(len(s5))

{1, 2, 3}
3

In [20]:
s7 = {1,(1,2,3),True}   #inside a set a list,dict and set
print(s7)    #a {1,(1,2,3),True} b  {1,(1,2,3)} c  {1,(1,2,3),1}

{1, (1, 2, 3)}

set rules :
*   sets are mutable
*   sets cannot contain mutable data type(list,dictionary,set) elements
question
*   can set contain another set inside it ex {1,2,{3,4}}

In [15]:
s1={1,2,{3,4}}
print(s1)

TypeError: unhashable type: 'list'

In [30]:
s1={3,1,(3,6,5),"ty",2}    # set the order in which "you" enter elements is not important it stores elements by using its own methods becuse it does not follow our order of elements we call it "unorderd"
l1=[3,1,(3,6,5),"ty",2]
print("this is list",l1)
print("this is set ",s1)

this is list [3, 1, (3, 6, 5), 'ty', 2]
this is set  {1, 2, 3, (3, 6, 5), 'ty'}

In [29]:
for i in s1: # this is not index based
  print(i)

1
2
3
(3, 6, 5)
ty

In [25]:
for i in range(0,len(s1)):
  print(s1[i])

TypeError: 'set' object is not subscriptable

In [35]:
l1=[1,2,3]
l2=[3,1,2]
print(l1 == l2)

False

In [41]:
s1 = {1,2,3,3}
print(s1)
s2 = {3,2,1}
print(s1 == s2)

{1, 2, 3}
True

### accessing elements
sets are unordered ,index based access not allowed

In [45]:
s1 = {1,2,3,4}
s1[2]

TypeError: 'set' object is not subscriptable

In [46]:
s1 = {1,2,3,4}
s1[0:3]

TypeError: 'set' object is not subscriptable

edit elements

In [47]:
s1 = {1,2,3,4}
s1[0] = 100

TypeError: 'set' object does not support item assignment

### Adding Items

In [56]:
s = {1,2,3,4}
# add  ->used to add single element
s.add(5)
s.add(6)
print(s)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7}

In [57]:
# update   ->to add multiple elements
s = {1,2,3,4}
s.update([5,6])
print(s)

{1, 2, 3, 4, 5, 6}

### Deleting Items

In [60]:
s = {1,2,3,4,5}
del s
print(s)

NameError: name 's' is not defined

In [61]:
l=[1,2,3,4]
del l[0]
print(l)

[2, 3, 4]

In [64]:

s = {1,2,3,4,5}
print(s)
del s[0]
print(s)

{1, 2, 3, 4, 5}

TypeError: 'set' object doesn't support item deletion

In [65]:
s = {1,2,3,4,5}
print(s)
# discard
s.discard(5)
print(s)
s.discard(88)   # discard function does not throw an error
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 4}
{1, 2, 3, 4}

In [67]:
s = {1,2,3,4,5}
# remove
s.remove(5)
print(s)
s.remove(50)    # remove function throws an error
#print(s)

{1, 2, 3, 4}

KeyError: 50

In [68]:
s = {7889.00,1,2,3,4,5,"yuyu"}
print(s)
# pop
s.pop()
print(s)

{1, 2, 3, 4, 5, 7889.0, 'yuyu'}
{2, 3, 4, 5, 7889.0, 'yuyu'}

In [69]:
s = {1,2,3,4,5}
# clear
s.clear()
print(s)

set()

### Set Operation

In [ ]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
#Union(|)
print(s1 | s2)
# Intersection(&)
print(s1 & s2)
# Difference(-)
print(s1 - s2)
print(s2 - s1)
# Symmetric Difference(^)   union - intesection
print(s1 ^ s2)
# Membership Test
print(1 not in s1)
# Iteration  ->elements can be accessed but they cannot be accessed using an index
for i in s1:
  print(i)
len(s1)
for i in range(0,len(s1)):   # it will produce an erroe as index based access is not possible in sets
  print(s1[i])

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{8, 6, 7}
{1, 2, 3, 6, 7, 8}
False
1
2
3
4
5

TypeError: 'set' object is not subscriptable

### Set Functions

In [87]:
# len/sum/min/max/sorted
s = {3,1,4,5,2,7}
print(len(s))
print(sum(s))
print(min(s))
print(max(s))
print(sorted(s,reverse=True))
print(set(sorted(s,reverse=True)))

6
22
1
7
[7, 5, 4, 3, 2, 1]
{1, 2, 3, 4, 5, 7}

In [86]:
s = {3,1,4,5,2,7}
l=set(sorted(s,reverse=True))
print(l)
s2=set([7, 5, 4, 3, 2, 1])
print(s2)

{1, 2, 3, 4, 5, 7}
{1, 2, 3, 4, 5, 7}

In [92]:
# union/update
s1 = {1,2,3}
s2 = {3,4}

# s1 | s2
print(s1.union(s2))
print(s1)
print(s2)

{1, 2, 3, 4}
{1, 2, 3}
{3, 4}

In [93]:
s1 = {1,2,3}
s2 = {3,4}
s1.update(s2)
print(s1)
print(s2)

{1, 2, 3, 4}
{3, 4}

In [94]:
# intersection/intersection_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

print(s1.intersection(s2))
s1.intersection(s2)  #intersection does not update the result in s1
print(s1)

s1.intersection_update(s2)  #intersection_update updates the result in s1
print(s1)
print(s2)

{4, 5}
{1, 2, 3, 4, 5}
{4, 5}
{4, 5, 6, 7, 8}

In [ ]:
# difference/difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

print(s1.difference(s2))   #difference does not update the result in s1
s1.difference(s2)
print(s1)
s1.difference_update(s2)  #difference_update updates the result in s1
print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3, 4, 5}
{1, 2, 3}
{4, 5, 6, 7, 8}

In [99]:
s1 = {1,2,3,4,5}  #{1,2,3}
s2 = {4,5,6,7,8}  #{6,7,8}

print(s1.difference(s2)) #s1-s2
print(s2.difference(s1)) #s2-s1

{1, 2, 3}
{8, 6, 7}

In [101]:
# symmetric_difference/symmetric_difference_update   union-intersection
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}   #{1,2,3,4,5,6,7,8}-{4,5}={1,2,3,6,7,8}

print(s1.symmetric_difference(s2))

s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

In [104]:
# isdisjoint/issubset/issuperset
s1 = {1,2,3,4}
s2 = {7,8,5,6,4}

s1.isdisjoint(s2)

False

In [109]:
s1 = {1,2,3,4,5}
s2 = {3,4,5}

s1.issuperset(s2)

True