### functions

### Types of Arguments

- Default Argument
- Positional Argument
- Keyword Argument

In [ ]:
#def name_of_the_function(your parameters(optional)):
 # body of function
  #return variable_name(optional)

In [8]:
def square_area(side=1): # default argument
  area=side**2
  return area

In [11]:
square_area()

1

In [30]:
#simple function
def add1(a,b):  #b=2,a=3  a,b=2,3   t,f=True,False
  print(a,b)
  return a+b

In [31]:

print(add1(2,3))  # positional argument

2 3
5

In [36]:
def add2(a=1,b=1):
  print(a,b)
  return a+b

In [37]:
print(add2(2))  # default argument+positional argument

1 2
3

In [38]:
def add3(a=1,b=1,c=1,d=1):
  print(a,b,c,d)
  return a+b

In [39]:
print(add3(b=2,a=3,d=5)) #keyword argument+default argument

3 2 4 5
5

argument and parameters
*   paramets are present in function definition
*   areguments are passed while calling a function

In [40]:
def is_uni(a):
  print(list(set(a)))
  s=set(a)
  l=list(s)
  print(l)

In [42]:
def is_uni(a):
  l=[]
  for i in a:
    if i not in l:
      l.append(i)
  return(l)

In [43]:
a=[1,1,2,2,3,3,3,4]
print(is_uni(a))    #output=[1,2,3,4]

[1, 2, 3, 4]

### `*args and **kwargs`
`*args and **kwargs` are special Python keywords that are used to pass the variable length of arguments to a function

In [51]:
def add4(a,b,*sumit):
  print(a,b)
  print(sumit)
  sum1=0                 # internally args creates a tuple  "args" can be anything like "margs"
  for i in sumit:
    sum1 = sum1 + i
  return sum1

In [52]:
add4(1,2,3,4,5)

1 2
(3, 4, 5)

12

In [53]:
# *args
# allows us to pass a variable number of non-keyword arguments to a function.

def add4(a,b,*args):     # internally args creates a tuple  "args" can be anything like "margs"
  sum1 = a+b
  print(type(args))

  for i in args:
    sum1 = sum1 + i

  print(args)
  return sum1

In [54]:
add4(1,2,3,4,5)

<class 'tuple'>
(3, 4, 5)

15

In [58]:
# **kwargs
# **kwargs allows us to pass any number of keyword arguments.
# Keyword arguments mean that they contain a key-value pair, like a Python dictionary.
# Keyword arguments does not accept int as keys.

def display(**country):
  print(type(country))
  print(country)
  for (key,value) in country.items():
    print(key,'->',value)

In [ ]:
d={2:"7",}

In [62]:
display(india='delhi',srilanka='colombo',nepal='kathmandu',pakistan='islamabad',usa="DC")

<class 'dict'>
{'india': 'delhi', 'srilanka': 'colombo', 'nepal': 'kathmandu', 'pakistan': 'islamabad', 'usa': 'DC'}
india -> delhi
srilanka -> colombo
nepal -> kathmandu
pakistan -> islamabad
usa -> DC

##### Points to remember while using `*args and **kwargs`

- order of the arguments matter(normal -> `*args` -> `**kwargs`)
- The words “args” and “kwargs” are only a convention, you can use any name of your choice

In [73]:
def add4(a,b,*args,**kwargs):     # internally args creates a tuple  "args" can be anything like "margs"
  print(a,b)
  print((args))
  print(kwargs)

  for i in kwargs.items():
    print(i)

In [74]:
add4(1,2,3,4,5,dd="ravi",ee="bb")

1 2
(3, 4, 5)
{'dd': 'ravi', 'ee': 'bb'}
('dd', 'ravi')
('ee', 'bb')

### Without return statement

In [84]:
def pr(a):   # a="good"
  print(a+"morning")  # print("good"+"morning")
  return a

In [85]:
print(pr("good"))

goodmorning
good

In [ ]:
L = [1,2,3]
print(L.append(4))
print(L)

None
[1, 2, 3, 4]

### Variable Scope

In [1]:
# learn from this
def num10(y):
  print(y)
  print(id(y))
  y=y*10
  print(id(y))
  return y
x=5
print(id(x))
print(num10(x))

137745412358512
5
137745412358512
137745412359952
50

In [3]:
# learn from this
def num10(y):
  print(y)
  print(id(y))
  y=x*10
  print(id(y))
  return y
x=5
print(id(x))
print(num10(x))

137745412358512
5
137745412358512
137745412358512
137745412359952
50

In [9]:
def f(y):
    print("y id",id(y))
    y=1
    print(id(y))
    y = y+1
    print(y)
x = 6
print(id(x))
f(x)
print(x)

137745412358544
y id 137745412358544
137745412358384
2
6

In [12]:
def g(y):
    print(id(y))
    y=y+1   # y is a local variable
    print(id(y))
    print(y)
x = 5
g(x)          # x is a global variable
print(x)

137745412358512
137745412358544
6
5

### Nested Functions

In [14]:
def f():
  def g():
    print('inside function g')
  print('inside function f')
  g()

In [15]:
f()

inside function f
inside function g

In [21]:
def g(x):
    def h():
        x = 'abc'
        print("x add in h",id(x))
    x = x + 1
    print("x add in g",id(x))
    print('in g(x): x =', x)
    h()
    return x

x = 3
print("x add in main",id(x))
z = g(x)
print(z)
print(id(z))

x add in main 137745412358448
x add in g 137745412358480
in g(x): x = 4
x add in h 137745411182896
4
137745412358480

In [22]:
def g(x):
    def h(x):
        x = x+1
        print("in h(x): x = ", x)
    x = x + 1
    print('in g(x): x = ', x)
    h(x)
    return x

x = 3
z = g(x)
print('in main program scope: x = ', x)
print('in main program scope: z = ', z)

in g(x): x =  4
in h(x): x =  5
in main program scope: x =  3
in main program scope: z =  4

### Functions like data type in python

*   List item

In [34]:
# type and id
def cube(num):
  return num**3

print(type(cube))

hex(id(cube))

<class 'function'>

'0x7d470de3f760'

In [32]:
q=cube
print(q(3))

27

In [27]:
#delete function
del cube

In [30]:
z=cube(3)

In [36]:
lis=[1,2,q]
print(lis[-1](3))

27

In [ ]:
# returning a function

In [37]:
def f():
    def x(a, b):
        return a+b
    return x

val = f()(3,4)  #x(3,4)
print(val)

7

In [ ]:
# pass function as argument

In [40]:
def f_one():
    print('inside one')

def f_two(q):     #func_b(func_a)
    print('inside two')
    return q()     #func_a()
print(f_two(f_one))

inside two
inside one
None