In [3]:
nums = [0, 1, 2, "3", 5,"8","21"]

create an empty list and append it on the following conditions
*   if element is even find its square
*   if element is odd find its cube

In [4]:
nums = [0,5,22,30,42,80,75]
y = [#enter your solution here in one line]
print(y)

[0, 125, 4.69041575982343, 27000, 6.48074069840786, 512000, 421875]

using list comprehension enter values in y on confitions
*   if element is divisible by 5 then store its cube
*   if element is not divisible by 5 then store its root

In [5]:
t,f= True,False
print(t!=#select t or f such that output is False)

In [ ]:
print(t!=#select t or f such that output is True)

In [6]:
book={1:"rvai",2:"jamal",3:"victor",4:"basu"}

{1: 'rvai', 2: 'jamal', 3: 'victor', 4: 'basu'}

do the following find all the following

*   find all the keys using a function
*   find all the values using a function
*   change the value in 3 to "roy"
*   extract all the value where the key is odd