In [ ]:
import numpy as np
import pandas as pd

In [ ]:
print(pd.__version__)

2.0.3

### creating series

In [ ]:
                                                                                                                                                     #student = ['ram','rohan','vikas','krishna','Suraj']
marks=[30,40,50,60,70]

q=pd.Series(marks)
q
type(q)

pandas.core.series.Series

In [ ]:
runs = [13,24,56,78,100]

runs_ser = pd.Series(runs)
runs_ser

0     13
1     24
2     56
3     78
4    100
dtype: int64

In [ ]:
score = [67,57,89,100]
subjects = ['maths','english','science','hindi']

marks=pd.Series(data=subjects,index=score)

In [ ]:
marks

67       maths
57     english
89     science
100      hindi
dtype: object

In [ ]:
marks=pd.Series(data=score,index=subjects)
marks

maths       67
english     57
science     89
hindi      100
dtype: int64

In [ ]:
marks = {
    'java':76,
    'linux':75,
    'c++':99,
    'os':88,
    'ml':76
}

marks_series = pd.Series(marks,name="vijay")
marks_series

java     76
linux    75
c++      99
os       88
ml       76
Name: vijay, dtype: int64

In [ ]:
q=np.random.randint(0,98,20)
print(q)
r=np.arange(0,20)
q_series=pd.Series(q,index=r)
q_series

[74 24 95 21 24 15 70 23 77 70 23 52 33 77 64 57 29 79 28 73]

0     74
1     24
2     95
3     21
4     24
5     15
6     70
7     23
8     77
9     70
10    23
11    52
12    33
13    77
14    64
15    57
16    29
17    79
18    28
19    73
dtype: int64

In [ ]:
print(q_series)

0     97
1      0
2      0
3     70
4     41
5     28
6     46
7     70
8      5
9     81
10    23
11    10
12    44
13    63
14    91
15    96
16    15
17    75
18    19
19    82
dtype: int64
java     76
linux    75
c++      99
os       88
ml       76
Name: vijay, dtype: int64

In [ ]:
print(marks_series)

java     76
linux    75
c++      99
os       88
ml       76
Name: vijay, dtype: int64

### Series Attributes

In [ ]:
# size
print(marks_series)
marks_series.size

java     76
linux    75
c++      99
os       88
ml       76
Name: vijay, dtype: int64

5

In [ ]:
# dtype
marks_series.dtype

dtype('int64')

In [ ]:
# name
marks_series.name

'vijay'

In [ ]:
pd.Series([1,2,3,4,5,4]).is_unique

False

In [ ]:
# is_unique
marks_series.is_unique

False

In [ ]:
marks_series

java     76
linux    75
c++      99
os       88
ml       76
Name: vijay, dtype: int64

In [ ]:
# index
print(marks_series)
print(marks_series.index)

java     76
linux    75
c++      99
os       88
ml       76
Name: vijay, dtype: int64
Index(['java', 'linux', 'c++', 'os', 'ml'], dtype='object')

In [ ]:
w=[1,2,3]
qs=pd.Series(w)
qs.index

RangeIndex(start=0, stop=3, step=1)

In [ ]:
print(q_series.index)

Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19], dtype='int64')

In [ ]:
# values
print(marks_series)
print(type(marks_series.values))
print((marks_series.values))

java     76
linux    75
c++      99
os       88
ml       76
Name: vijay, dtype: int64
<class 'numpy.ndarray'>
[76 75 99 88 76]

In [ ]:
type(marks_series)

pandas.core.series.Series

### Series using read_csv

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
ranum=pd.read_csv("random_num.csv")  #squeeze=True used in pandas 1.0

In [ ]:
print(ranum)
print(type(ranum))

    numbers
0        46
1        32
2        12
3        39
4         6
5        27
6        16
7        16
8        21
9         7
10        5
11       47
12       34
13       36
14       28
15       12
16       31
17       16
18        6
19       20
20       32
21       32
22       22
23       41
24       24
25       12
26        5
27       32
28       37
29       44
30       16
31       41
32       33
33       20
34        7
35       16
36       41
37       37
38       15
39       45
40       32
41       19
42       26
43       19
44        6
45       17
46       10
47        5
48       44
<class 'pandas.core.frame.DataFrame'>

In [ ]:
match=pd.read_csv("kohli_ipl.csv")

In [ ]:
match.head(15)

    match_no  runs
0          1     1
1          2    23
2          3    13
3          4    12
4          5     1
5          6     9
6          7    34
7          8     0
8          9    21
9         10     3
10        11    10
11        12    38
12        13     3
13        14    11
14        15    50

In [ ]:
match2=pd.read_csv("kohli_ipl.csv",index_col='match_no')
match2

          runs
match_no
1            1
2           23
3           13
4           12
5            1
...        ...
211          0
212         20
213         73
214         25
215          7

[215 rows x 1 columns]

In [ ]:
movie=pd.read_csv("bollywood.csv",index_col='movie')
movie

                                                  lead
movie
Uri: The Surgical Strike                 Vicky Kaushal
Battalion 609                              Vicky Ahuja
The Accidental Prime Minister (film)       Anupam Kher
Why Cheat India                          Emraan Hashmi
Evening Shadows                       Mona Ambegaonkar
...                                                ...
Hum Tumhare Hain Sanam                  Shah Rukh Khan
Aankhen (2002 film)                   Amitabh Bachchan
Saathiya (film)                           Vivek Oberoi
Company (film)                              Ajay Devgn
Awara Paagal Deewana                      Akshay Kumar

[1500 rows x 1 columns]

### Series methods

In [ ]:
marks_series.head(3)

java     76
linux    75
c++      99
Name: vijay, dtype: int64

In [ ]:
marks_series.tail(2)

os    88
ml    76
Name: vijay, dtype: int64

In [ ]:
# sample
marks_series.sample(2)
q_series.sample(5)

4     24
6     70
10    23
3     21
11    52
dtype: int64

In [ ]:
marks_series

java     76
linux    75
c++      99
os       88
ml       76
Name: vijay, dtype: int64

In [ ]:
# value_counts
marks_series.value_counts()

vijay
76    2
75    1
99    1
88    1
Name: count, dtype: int64

In [ ]:
q_series.value_counts()

24    2
70    2
23    2
77    2
74    1
95    1
21    1
15    1
52    1
33    1
64    1
57    1
29    1
79    1
28    1
73    1
Name: count, dtype: int64

In [ ]:
# sort_values
marks_series.sort_values(ascending=False)

c++      99
os       88
java     76
ml       76
linux    75
Name: vijay, dtype: int64

In [ ]:
# sort_index -> inplace -> movies
#movie.sort_index(ascending=False)   #,inplace=True   not used yet

### Series Maths Methods

In [ ]:
# count
print(marks_series.size)
marks_series.count()

5

5

In [ ]:
marks_series

java     76
linux    75
c++      99
os       88
ml       76
Name: vijay, dtype: int64

In [ ]:
# sum -> product
marks_series.product()
marks_series.sum()

414

In [ ]:
marks_series

java     76
linux    75
c++      99
os       88
ml       76
Name: abhisheks marks, dtype: int64

In [ ]:
# mean -> median -> mode -> std -> var
print(marks_series.mean())
print(marks_series.median())
print(marks_series.mode())

82.8
76.0
0    76
Name: vijay, dtype: int64

In [ ]:
# min/max
marks_series.min()
marks_series.max()

99

In [ ]:
# describe
marks_series.describe()

count     5.000000
mean     82.800000
std      10.521407
min      75.000000
25%      76.000000
50%      76.000000
75%      88.000000
max      99.000000
Name: abhisheks marks, dtype: float64

### Series Indexing

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# integer indexing
x = pd.Series([12,13,14,35,46,57,58,79,9])
x

0    12
1    13
2    14
3    35
4    46
5    57
6    58
7    79
8     9
dtype: int64

In [ ]:
x[0]

12

In [ ]:
# if index is number negative index not allowed
x[-1]

KeyError: -1

In [ ]:
d=[1,2,3]
n=['a','b','c']
q=pd.Series(n,index=d)
q

1    a
2    b
3    c
dtype: object

In [ ]:
q[2]

'b'

In [ ]:
marks_series

java     76
linux    75
c++      99
os       88
ml       76
Name: abhisheks marks, dtype: int64

In [ ]:
#if index is string negative index is allowed   very confusing
marks_series[-2]

88

In [ ]:
# indexing with labels
marks_series['os']

88

In [ ]:
# slicing
q_series[5:16]

5     64
6     96
7     85
8     47
9     11
10    92
11    60
12    70
13    36
14    18
15    45
dtype: int64

In [ ]:
# negative slicing
marks_series[-5:]

java     76
linux    75
c++      99
os       88
ml       76
Name: abhisheks marks, dtype: int64

In [ ]:
marks_series[::2]

java    76
c++     99
ml      76
Name: abhisheks marks, dtype: int64

In [ ]:
# fancy indexing
marks_series[[1,3,4]]

linux    75
os       88
ml       76
Name: abhisheks marks, dtype: int64

### Editing Series

In [ ]:
# using indexing
marks_series[1] = 100
marks_series

java      76
linux    100
c++       99
os        88
ml        76
Name: abhisheks marks, dtype: int64

In [ ]:
# what if an index does not exist
marks_series['dsa'] = 100

In [ ]:
marks_series

java      76
linux    100
c++       99
os        88
ml        76
dsa      100
Name: abhisheks marks, dtype: int64

In [ ]:
q_series

0      22
1      75
2      11
3      80
4      40
       ..
295    59
296    34
297    66
298    97
299    10
Length: 300, dtype: int64

In [ ]:
# slicing
q_series[1:3] = [100,100]
q_series

0       22
1      100
2      100
3       80
4       40
      ...
295     59
296     34
297     66
298     97
299     10
Length: 300, dtype: int64

In [ ]:
# fancy indexing
q_series[[0,3,4]] = [0,0,0]
q_series

0        0
1      100
2      100
3        0
4        0
      ...
295     59
296     34
297     66
298     97
299     10
Length: 300, dtype: int64

### Series with Python Functionalities

In [ ]:
# len/type/dir/sorted/max/min
print(len(q_series))
print(type(q_series))

print(sorted(q_series))
print(min(q_series))
print(max(q_series))

20
<class 'pandas.core.series.Series'>
[3, 8, 13, 15, 17, 34, 42, 49, 50, 50, 51, 51, 58, 60, 67, 68, 83, 83, 85, 97]
3
97

In [ ]:
# type conversion
list(marks_series)

[67, 100, 89, 100, 90, 100]

In [ ]:
dict(marks_series)

{'maths': 67,
 'english': 100,
 'science': 89,
 'hindi': 100,
 'sst': 90,
 'evs': 100}

In [ ]:
# membership operator

'os' in marks_series

True

In [ ]:
for i in marks_series:
  print(i)

76
100
99
88
76
100

In [ ]:
for i in marks_series.values:
  print(i)

76
100
99
88
76
100

In [ ]:
# looping
for i in marks_series.index:
  print(i)

java
linux
c++
os
ml
dsa

In [ ]:
# Arithmetic Operators(Broadcasting)
100 + marks_series

java     176
linux    200
c++      199
os       188
ml       176
dsa      200
Name: abhisheks marks, dtype: int64

In [ ]:
# Relational Operators

marks_series >= 80

java     False
linux     True
c++       True
os        True
ml       False
dsa       True
Name: abhisheks marks, dtype: bool

In [ ]:
for i in q_series:
  print(i)

85
51
13
67
60
42
49
83
50
15
97
34
83
58
50
17
3
68
8
51

In [ ]:
for i in q_series.values:
  print(i)

85
51
13
67
60
42
49
83
50
15
97
34
83
58
50
17
3
68
8
51

In [ ]:
for i in q_series.index:
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

### Boolean Indexing on Series

In [ ]:
marks_series[marks_series < 80]

java    76
ml      76
Name: abhisheks marks, dtype: int64

In [ ]:
marks_series[marks_series > 80]

linux    100
c++       99
os        88
dsa      100
Name: abhisheks marks, dtype: int64